<html>
  <head>
    <title>SATURDAY</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.ico">

    <link rel='stylesheet' href='/stylesheets/menu.css' />
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <script src="/javascripts/jquery-3.5.1.min.js"></script>


    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> 
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script> 
  </head>
  <body>
    <script> 
        AOS.init(); 
    </script>
        <div class="headerArea">
            <header id="fixHeader"></header>
        </div>
    <h1>MENU</h1>
    <div id="soju_menu">
        <div class="aa" data-aos="fade-up" data-aos-duration="3000">
            <div id="fresh" class="sul">
                <P class="soju_name">참이슬 후레시</P>
                <div class="text">
                    <p><b>알코올 16.9%</b></p>
                    <p>대나무 숯으로 4번 걸러 더 깨끗한 목넘김</p>
                    <p>이슬형태의 곡선 라벨로 더욱 트렌디</p>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div id="original" class="sul">
                <P class="soju_name">참이슬 오리지널</P>
                <div class="text">
                    <p><b>알코올 20.1%</b></p>
                    <p>대한민국 소주의 정통성을 지켜온 정통소주</p>
                    <p>대나무 숯으로 4번 걸러, 숙취 유발 물질을 깨끗하게 제거</p>
                    <p>레귤러 대비 높은 도수로, 깊고 진한 맛을 구현</p>
                    <br>
                </div>
            </div>
        </div>
        <div class="aa" data-aos="fade-up" data-aos-duration="3000">
            <div id="first" class="sul">
                <P class="soju_name">처음처럼</P>
                <div class="text">
                    <p><b>알코올 16.5%</b></p>
                    <p>강원도 경월 소주로 시작</p>
                    <p>소주 역사의 한 주축을 담당</p>
                    <p>대한민국 소주 브랜드</p>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div id="real" class="sul">
                <P class="soju_name">진로</P>
                <div class="text">
                    <p><b>알코올 16.5%</b></p>
                    <p>진로만이 가지고 있는 No.1 헤리티지를 재해석</p>
                    <p>16.5도의 순하고 부드러운 목넘김</p>
                    <p>깔끔한 맛을 구현</p>
                    <br>
                </div>
            </div>
        </div>
        <div class="aa" data-aos="fade-up" data-aos-duration="3000">
            <div id="ggo1" class="sul">
                <P class="soju_name">연태고량주</P>
                <div class="text">
                    <p><b>알코올 34%</b></p>
                    <p>달달한 과일향</p>
                    <p>깔끔한 목넘김</p>
                    <br>
                </div>
            </div>
            <div id="water" class="sul">
                <P class="soju_name">토닉워터</P>
                <div class="text">
                    <p>레몬 + 얼음과 함께 소주에 타 먹는 "쏘토닉"</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="aa" data-aos="fade-up" data-aos-duration="3000">
            <div id="coke" class="sul">
                <P class="soju_name">코카콜라</P>
                <div class="text">
                    <p>콜라는 오직 코카콜라 뿐</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
                        <div id="sol" class="sul">
                <P class="soju_name">솔의눈</P>
                <div class="text">
                    <p>머리까지 맑아지는 맛!</p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/menu.js"></script> 
  </body>
</html> 