<head>
    <title>SATURDAY</title>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.ico">
  
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>
    <div>
        <header id="fixHeader"></header>
        <div id="signup">
            <h1>Sign Up</h1>
            <form action="/signup" method="POST" id="signUpForm" name="signup">
                <div class="inp_section">
                    <input type="text" id="id" name="id" maxlength="15" autocomplete="off" required>
                    <span class="msg" id="id_msg"></span>
                    <label>ID</label>
                </div>
                <div class="inp_section">
                    <input type="password" id="password" name="password" maxlength="20" autocomplete="off" required>
                    <span class="msg" id="pw_msg"></span>
                    <label>PASSWORD</label>
                </div>
                <div class="inp_section">
                    <input type="password" id="re_enter" name="re_enter" maxlength="20" autocomplete="off" required>
                    <span class="msg" id="re_enter_msg"></span>
                    <label>RE-ENTER</label>
                </div>
                <div class="inp_section">
                    <input type="text" id="name" name="name" maxlength="15" autocomplete="off" required>
                    <span class="msg" id="name_msg"></span>
                    <label>NAME</label>
                </div>
                <div class="inp_section">
                    <input type="text" id="birth" name="birth" maxlength="8" autocomplete="off" placeholder="ex) 19980803" required>
                    <span class="msg" id="birth_msg"></span>
                    <label>DATE-of-BIRTH</label>
                </div>

                <div class="btn">
                    <button type="submit" id="signUpBtn">SIGN UP</button>
                    <button type="reset" id="reset">RESET</button>
                </div>
                <div class="txt">
                    Already have an account? <a href="/signin" id>Sign In</a>    
                </div>
            </form>
        </div>
    </div>

    <footer id="footer">
        <div class="contain">
            <div class="foot-info">
                <address>
                    (주)내일은 토요일 
                    <span class="bar">|</span>   
                    서울 강동구 천호대로 지하 997  
                    <span class="bar">|</span> 
                    Tel     : 010-1234-5678 
                    <span class="bar">|</span> 
                    E-mail  : tmrwMaster@gmail.com  
                    <br>
                    Copyright © 2021 (주)내일은 토요일. All Right Reserved.
                </address>
            </div>	
            <div
                id="kakao-talk-channel-chat-button"
                data-channel-public-id="_DiNpK"
                data-title="question"
                data-size="small"
                data-color="mono"
                data-shape="pc"
                data-support-multiple-densities="true"
            >
            </div>			
        </div>	
    </footer>  

    <script>
        window.kakaoAsyncInit = function() {
          Kakao.Channel.createChatButton({
            container: '#kakao-talk-channel-chat-button',
          });
        };
      
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://developers.kakao.com/sdk/js/kakao.channel.min.js';
          fjs.parentNode.insertBefore(js, fjs);
        })(document, 'script', 'kakao-js-sdk');
    </script>

      <script src="/javascripts/signup.js"></script>
  </body>