/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

#footer {
    /* position: relative; */
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poor Story', cursive;
    font-size: 20px;
    color: #E8CBC0;
    background: #2C3E50;
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
    background: linear-gradient(to right, #4CA1AF, #2C3E50);
}
#kakao-talk-channel-chat-button {
    float: right;
    margin-right: 50px;
    margin-bottom: 10px;
}

body {
    height: 100%;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.headerArea {
    position: fixed;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    z-index: 999;
}

.container {
    min-height: 100%;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#detailcontainer {
    /* position: absolute; */
    width: 80%;
    margin: auto;
    padding: 1rem;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    font-family: "Pangolin", "Gaegu", cursive;
}

#detailcontainer h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 0 0 20px 0;
    /* color: #FFC952; */
    color: #0b7285;
}

.info {
    text-align: right;
    font-size: 1.2rem;
    font-weight: 700;
    color: #47b8e0;
}

.info span {
    padding-right: 1.5rem;
}

.writeBoard {
    margin: 2rem;
    font-size: 2rem;
}

.btn {
    float: right;
}

.btn span a {
    text-decoration: none;
    color: #adadad;
    font-size: 1.2rem;
    margin-right: 1.5rem;
}
.btn span a:hover {
    /* color: #47b8e0; */
    font-weight: bold;
}

fieldset {
    border: none;
}

#comments_area form fieldset label {
    margin-top: 5rem;
}
.comments {
    width: 90%;
}
#commentEnterBtn {
    outline: none;
    border: none;
    color: #adadad;
    font-size: 1rem;
    font-family: "Pangolin", "Gaegu", cursive;
}
#commentEnterBtn:hover {
    outline: none;
    border: none;
    font-weight: bold;
}
#commentArea .commentBtn {
    border: none;
    margin: 1rem;
}
#commentArea .commentBtn:hover {
    /* color: #47b8e0; */
    font-weight: bold;
}

.commentTxt {
    font-size: 2.2rem;
}

.commentBtn a {
    text-decoration: none;
    color: #adadad;
    font-size: 1rem;
}
.commentBtn a:hover {
    /* color: #47b8e0; */
    font-weight: bold;
}

.commentInfo {
    color: #47b8e0;
    margin-top: 2rem;
}

img {
    max-width: 480;
    max-height: 480;
}