h1 {
    font-family: 'Amatic SC';
    font-weight: 700;
    font-size: 100px;
    text-align: center;
    /* color: #FFC952; */
    color: #0b7285;
}
.headerArea {
    position: fixed;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    z-index: 999;
}
#soju_menu {
    margin-left: 100px;
    padding-top: 150px;
}
.soju_name {
    font-family: 'Poor Story', cursive;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 40px;
    /* color: #DFD86C; */
    color: #ffc952;
}
.aa {
    display: flex;
    justify-content: left;
}
.text {
    font-family: 'Poor Story', cursive;
    font-size: 30px;
    color: #E8CBC0;
    text-align: left;
    margin-left: 250px;
}
.sul {
    width: 50%;
    height: 100%;
    background-size: contain;
    text-align: center; 
    margin-left: 20px;
    background: no-repeat;
    margin-top: 100px;
}    
#fresh {
    background-image: url('/images/fresh.png');
}
#original {
    background-image: url('/images/original.png');
}
#first {
    background-image: url('/images/first.png');
}
#real {
    background-image: url('/images/real.png');
}
#ggo1 {
    background-image: url('/images/ggo1.png');
}
#ggo2 {
    background-image: url('/images/ggo2.png');
}
#water {
    background-image: url('/images/water.png');
}
#coke {
    background-image: url('/images/coke.png');
}
#sol {
    background-image: url('/images/sol.png');
}

body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}