*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#footer {
    margin-top: 10%;
    position: absolute;
}

body {
    height: 100vh;
    overflow: hidden;
}

#mypage {
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    font-family: "Pangolin", "Gaegu", cursive;
    padding: 1rem;
}

.myinfo {
    text-align: center;
    margin-top: 1rem;
    padding: 0 0 20px 0;
    /* color: #FFC952; */
    color: #0b7285;
}

table {
    border: none;
    border-bottom: #adadad;
    border-collapse: collapse;
    text-align: center;
    font-size: 1.5rem;
}

.myReserve {
    margin-top: 1rem;
}

.myreservation {
    margin-top: 2rem;
    text-align: center;
    /* color: #FFC952; */
    color: #0b7285;
}

.trTitle {
    color: #47b8e0;
    font-weight: 700;
}

td {
    padding: .3rem;
}